@model MVC.Models.OrderModel.Ship
@{
    //取得當前購物車所有內容
    var currentCart = MVC.Models.Carts.Operation.GetCurrentCart();
}



<h3>結帳</h3>

<table class="table table-striped">
    <thead class="thead-light">
        <tr>
            <th class="pic" scope="col">圖片</th>
            <th scope="col">品名</th>
            <th scope="col">單價</th>
            <th scope="col">數量</th>
            <th scope="col">總計</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cartitem in currentCart)
        {
            <tr>
                <th class="pic" scope="row">
                    <img src="~/Assest/img/ProductImg/@cartitem.Image" alt="">
                </th>
                <td>@cartitem.Name</td>
                <td>$@cartitem.Price 元</td>
                <td>@cartitem.Quantity</td>
                <td>$@cartitem.Amount 元</td>
            </tr>
        }
        <tr>
            <th scope="row">總價錢</th>
            <td></td>
            <td></td>
            <td></td>
            <td>@String.Format("共{0}元 ", currentCart.TotalAmount)</td>
        </tr>

    </tbody>
</table>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="form-horizontal">
    <h4>收貨人資訊</h4>
    <hr />


    <div class="form-group">
        @Html.LabelFor(model => model.RecieverName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.RecieverName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RecieverName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.RecieverPhone, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.RecieverPhone, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RecieverPhone, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.RecieverAddress, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.RecieverAddress, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RecieverAddress, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="確定購買" class="btn btn-default" />
        </div>
    </div>
</div>
}

@section topCSS{


    <style type="text/css">
        * {
            padding: 0;
            margin: 0;
            list-style: none;
        }

        .pic {
            width: 100px;
        }

            .pic img {
                width: 100%;
            }
    </style>
}

