@model IEnumerable<MVC.ViewModels.ProductListViewModel>



<div class="container">
    <div class="product_name">
        <div class="product_name_home">
            <a href="#">Home</a>
            <span>Bestselling Modern Furniture Designs</span>
        </div>
        <div class="wavy">
            <h2> New</h2>

        </div>
        <div class="storeby">
            <input type="checkbox" id="check_order">
            <span><button for="check_order" onclick="match()">SORT BY BEST MATCH</button></span>
            <div class="match">
                <button> @Html.ActionLink("BESTSELLERS", "New", new { sortOrder = ViewBag.QuantityParm })</button>
                <br>
                <button>@Html.ActionLink("NAMES FROM SMALL TO LARGE", "New", new { sortOrder = ViewBag.NameSortParm })</button>
                <br>
                <button> @Html.ActionLink("NAMES FROM LARGE TO SMALL", "New", new { sortOrder = ViewBag.NamedescSortParm })</button>
                <br>
                <button> @Html.ActionLink("PRICE LOW TO HIGH", "New", new { sortOrder = ViewBag.PriceSortParm })</button>
                <br>
                <button> @Html.ActionLink("PRICE HIGH TO LOW", "New", new { sortOrder = ViewBag.PricedescSortParm })</button>
                <br>
                <button>@Html.ActionLink("RESET", "New", new { sortOrder = ViewBag.ResetParm })</button>
            </div>



        </div>
    </div>
    <div class="product_list row">
        @foreach (var item in Model)
        {
            <div class="col-6 col-md-4 col-xl-3 product_only ">
                    <div class="card">
                        <div class="img">
                            <img src="~/Assest/img/ProductImg/@Html.DisplayFor(modelItem => item.Image)"
                                 alt="圖片說明" class="card-img-top">
                        </div>
                        <div class="card-body">
                            <p class="card-title">
                                <strong>
                                    @Html.DisplayFor(modelItem => item.ProductName)
                                </strong>
                            </p>
                            <p class="card-text"> $@Html.DisplayFor(modelItem => item.Price)</p>
                            @Html.ActionLink("詳情", "ProductInformation", new { id = item.ProductID }, new { @class = "btn btn-primary col-8" })
                            <p> @Html.DisplayFor(modelItem => item.Quantity)  Left</p>
                            <p>
                                <a onclick="AddToCart(' @Html.DisplayFor(modelItem => item.ProductID)')" href=""
                                   class="btn btn-primary" role="button" id="AddToCart">
                                    Add To Cart
                                </a>
                            </p>
                        </div>
                    </div>
            </div>
        }



    </div>
</div>



@section topCSS{

    <link href="~/Assest/css/ProductList.css" rel="stylesheet" />
    <style type="text/css">
        
    </style>
}
@section endJS{
    <script src="~/Assest/js/ProductList.js"></script>
    <script type="text/javascript">






    </script>
}